<h1>
  Civitas CRM
</h1>

<div class="center jumbotron">
  <p>
    Civitas is a Customer Relationship Manager (CRM) that is aimed at small to medium organisations for organising their members. 
    Civitas is a lightweight and streamlined CRM.
  </p>
</div>